
body{
    background-color: #88fcfc;
    font-family: helvetica, sans-serif;
    text-align: center;
}
h1{
    font-size: 6em;
    color: #858585;
}
h2{
    font-size: 2em;
    color: #858585;
}
h3{
    font-size: 4em;
    color: red;
}
p {
    font-size: 1.2em;
    color: #858585;
}